# Dependencies
node_modules/
package-lock.json

# Build output
.output/
.nuxt/
dist/
release/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
