// ============================================
// Variables — colores, breakpoints
// ============================================

// Colores UPN
color-amarillo = #FDBA30
color-lila     = #9501FC
color-celeste  = #10B5FB
color-fuchsia  = #FC00D5
color-negro    = #000000
color-blanco   = #FFFFFF
color-gris     = #808080

// Breakpoints
ancho-movil             = 1px
ancho-tableta           = 768px
ancho-escritorio        = 992px
ancho-escritorio-amplio = 1280px
